<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="DataExchangeFramework.RESTful" 
                       description="Provides the ability for Data Exchange Framework to interact with RESTful Web services."
                       dependencies="">
          <targetDataStore physicalRootPath="$(sourceFolder)\DataExchange\Providers.RESTful\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Data Exchange: Templates -->
            <include name="DEF.Templates.Providers.RESTful" database="master" path="/sitecore/templates/Data Exchange/Providers/RESTful" />
            <include name="DEF.Branches.Providers.RESTful" database="master" path="/sitecore/templates/Branches/Data Exchange/Providers/RESTful" />

            <!-- Data Exchange: System -->
            <include name="DEF.System.InsertOptions.RESTful" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Data Exchange - RESTful Provider" />
            <include name="DEF.System.Settings.RESTful" database="master" path="/sitecore/system/Settings/Data Exchange/Providers/RESTful" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>