<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="DataExchange.Providers.RESTful.Local.Pipelines.Loader.InitializeProvider, DataExchange.Providers.RESTful.Local" />
      </initialize>
    </pipelines>
    <dataExchange>
      <providers>
        <restful>
          <clientRepository type="DataExchange.Providers.RESTful.Repositories.ClientRepository, DataExchange.Providers.RESTful" />
        </restful>
      </providers>
    </dataExchange>
  </sitecore>
</configuration>