<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="DataExchangeFramework.RESTful.Tenant.News" 
                       description="Sitecore Connect for News API"
                       dependencies="DataExchangeFramework.RESTful"
                       patch:after="configuration[@name='DataExchangeFramework.RESTful']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\DataExchange.News\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Data Exchange: News API Tenant -->
            <include name="DEF.Tenant.RESTful.News" database="master" path="/sitecore/system/Data Exchange/Data Exchange Tenant for News API" />

            <!-- Templates -->
            <include name="DEF.Feature.News" database="master" path="/sitecore/templates/Feature/Data Exchange/News API" />

            <!-- Content -->
            <include name="DEF.Content.Articles" database="master" path="/sitecore/content/News Articles">
              <exclude children="true" />
            </include>
			
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>